 *{
                margin:0;
                padding: 0; 
                font-family: Roboto;
            }
            ul{
                list-style: none;
            }
            a{
                text-decoration: none;
            }
            #productList{
                display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background: #ababab;
    align-items: center;

            }
            .productHeader{
              
                padding: 10px;
    border-bottom: 2px solid #ebeff2;
            }
            .productAnalyticsBody{
                padding: 10px;
                display: flex;
                justify-content: space-between;
            }
            .productTitle{
                font-size: 18px;
                font-weight: 500;
            }
            .productReviewCount{
                color: #186fe7;
                font-size: 15px;
                font-weight: 600;
            }
            .lastReviewDate,.productSourceInfo span{
                font-size: 13px;
                color: #888888
            }
            .productContainer{
         
                max-width: 550px;
    background: white;
    padding: 10px;
    margin: 15px 0px;
}
            
            .productHeading{
              
                display: flex;
            }
            .productReviewInfo{
                margin: 5px 0px;
            }
            .productReviewInfo span{
               margin-right: 20px;
            }
            .productSourceInfo span{
                margin: 0px 5px;
            }
            
            .productSourceInfo >span:nth-child(1){
                margin-left:0px; 
            }
            .infoTitle{
                font-size: 13px;
                font-weight: 300;
                color: #888888;
                text-transform: uppercase;
                margin: 8px 0px;
            }
            .topTopicsList li{
                display: flex;
    
    justify-content: space-between;
    border-bottom: 1px solid #f1efef;
    padding: 7.5px 1px;
            }
            .productTopTopics{
                width: calc(90% - 50px);
                padding-right: 50px; 
            }
            .productImage{
                max-width: 105px;
            }
            .topicName{
                font-size: 14px;
                color: #252424;
            }
            .productPrice{
                font-size: 13px;
                margin-bottom: 30px;
           
            }
            .productRelatedInfo{
                width: calc(40% - 10px);
                font-size: 13px;
            }
            .productRelatedInfo li{
                margin: 10px 0px;
                color: #504f4f;

            }
            .productMoreInfo{
                display: none;
            }
            .showLess{
                display: none;
            }
            .showMore{
                display: block;
            }
            .topicRating{
                
    padding: 8px;
    color: #1b1b1b;
    font-weight: bold;
    border-radius: 5px;
            }
            .bgGreen{
                color: #0bbd0b;
            }
            .bgRed{
                color: #f36161;
            }
            .topicName{
                font-size: 14px;
    color: #191818;
    display: flex;
   
    align-items: center;
            }
            .opacityNone{
                opacity: 0;
            }
            .prodInfo{
                cursor: pointer;
            }
            .productSourceInfo a{
                color: #5393f7;
            }
            .productTitleInfo{
                display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
}